:root {
    --color-main: #2f3d4b;
    --color-main-less: #3d6181;
    --color-main-sature: #214e77;
    --color-main-reverse: #d5b191;
    --color-main-supportive: #a82424;
    --color-background: #aab5be;
}

@font-face {
    font-family: digital-7;
    src: url(/src/assets/digital-7.ttf);
}

* {
    box-sizing: border-box;
    font-family: digital-7, sans-serif;
    text-shadow: 1px 1px 1px #808080;
    margin: 0;
}

body{
    background-color: darkgray;
}


.weather-app {
    width: 390px;
    padding: 18px 12px;
    border-radius: 12px;
    background: var(--color-main);
    margin: auto;
}

.weather-info{
    padding: 20px 32px;
    border-radius: 12px;
    border: 8px double var(--color-main-sature);
    box-shadow:0 0 2px 2px var(--color-main-reverse);
    background: var(--color-background);
}

.date {
    padding-bottom: 6px;
    text-align: center;
    font-weight: 600;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.weather-main {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-top: 2px solid var(--color-main-supportive);
    padding-top: 2px;
}
.weather-main img {
    margin: auto;
}
.cityName, .temp{
    font-weight: 600;
    font-size: xx-large;
}
.description {
    font-weight: 300;
    font-style: italic;
}

.weather-details {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding-top: 14px;

}

.time {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.time-box {
    display: flex;
    padding-top: 14px;
}
.time-box > .info {
    padding-left: 10px;
}

.location{
    padding: 8px 2px 0px 2px;
    display: flex;
    justify-content: space-between;
}
input{
    height: 22px ;
    width: 80%;
    border-radius: 6px;
    background: var(--color-background);
    border: 2px solid var(--color-main-sature);
    box-shadow:0 0 2px 2px var(--color-main-less);
    font-size: large;
    font-style: italic;
    color: #3e3e3e;
    padding-bottom: 6px;
    padding-left: 4px;
}
button{
    border-radius: 6px;
    border: 2px solid var(--color-main-sature);
    box-shadow:0 0 2px 2px var(--color-main-reverse);
    background: var(--color-background);
    width: 19%;
    font-size: large;
}

.info-box{
    display: grid;
    gap: 6px;
}

.info:not(.description) {
    font-style: italic;
    font-weight: 600;
}